@model WONDERLUST_PROJECT_ADMINs.Models.Hotel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Wonderlust.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hotel</h4>
            <p class="card-description">
                Details of Hotel
            </p>
            <div class="forms-sample">
                <dl class="row">
        <dt class = "col-sm-6">
            Hotel Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelName)
        </dd>
        <dt class = "col-sm-6">
            Image
        </dt>
                    <dd class="col-sm-10">
                        <a href="/images/hotel/@Model.Image" target="_blank"><img src="~/images/hotel/@Model.Image" width="250" class="img-thumbnail" /></a>
                    </dd>
        <dt class = "col-sm-6">
            Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
                    <dt class="col-sm-6">
                       City
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.City.CityName)
                    </dd>
                    <dt class="col-sm-6">
                        State
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.State.StateName)
                    </dd>
                    <dt class="col-sm-6">
                        Country
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Country.CountryName)
                    </dd>
     
       
       
    </dl>
</div>
<div>
                <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.HotelId">Edit</a> |
                <a class="btn btn-warning" asp-action="Index">Back to List</a>
</div>
</div>
</div>
</div>
