@model WONDERLUST_PROJECT_ADMINs.Models.PackageBooking

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Wonderlust.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Booking Details</h4>
            <p class="card-description">
                Details of User ID : @Html.DisplayFor(model => model.User.UserId)'s Booking
            </p>
            <div class="forms-sample">
                <dl class="row">
                    <dt class="col-sm-6">
                       Booking ID
                    </dt>

                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PackageBookingId)
                    </dd>
                    <dt class="col-sm-6">
                        Pacakge Name
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Package.PackageName)
                    </dd>



                    <dt class = "col-sm-6">
         Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class = "col-sm-6">
            Contact
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class = "col-sm-6">
            Booking Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class = "col-sm-6">
           No Of Persone
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfTravelers)
        </dd>
     
    
       
      
    </dl>
</div>
<div>
                <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.PackageBookingId">Edit</a> |
                <a class="btn btn-warning" asp-action="Index">Back to List</a>
</div>
</div>
</div>
</div>
