@model WONDERLUST_PROJECT_ADMINs.Models.Payment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Wonderlust.cshtml";
}
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Payment</h4>
            <p class="card-description">
                Details of Payment
            </p>
            <div class="forms-sample">
                <dl class="row">
                    <dt class="col-sm-6">
                     Payment ID
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PaymetId)
                    </dd>

                    <dt class="col-sm-6">
                        User ID
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.User.UserId)
                    </dd>

                    <dt class="col-sm-6">
                       Booking ID
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PackageBooking.PackageBookingId)
                    </dd>

                    <dt class="col-sm-6">
                        Email
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PackageBooking.EmailId)
                    </dd>

                    <dt class="col-sm-6">
                       Package
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Package.PackageName)
                    </dd>

                    <dt class="col-sm-6">
                        Payment Mode
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PayemtMode)
                    </dd>

                    <dt class="col-sm-6">
                       Amount
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Amount)
                    </dd>

                    <dt class="col-sm-6">
                        PERSON DATA
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Amount)
                    </dd>






                    <dt class="col-sm-6">
                        Person
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PackageBooking.NoOfTravelers)
                    </dd>

                   @* <dt class="col-sm-6">
                        Data
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.)
                    </dd>
       *@
      
      
       
       
    </dl>
</div>
<div>
                <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.PaymetId">Edit</a> |
                <a class="btn btn-warning" asp-action="Index">Back to List</a>
</div>
</div>
</div>
</div>
