@model WONDERLUST_PROJECT_ADMINs.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Wonderlust.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Category</h4>
            <p class="card-description">
                Details of Category
            </p>
            <div class="forms-sample">
                <dl class="row">
        <dt class = "col-sm-6">
           Category Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-6">
           Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryDescription)
        </dd>
                    <dt class="col-sm-6">
                       Image
                    </dt>
                    <dd class="col-sm-10">
                        <a href="/images/category/@Model.CategoryImage" target="_blank"><img src="~/images/category/@Model.CategoryImage" width="250" class="img-thumbnail" /></a>
                    </dd>
        <dt class = "col-sm-6">
            IS Active
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-6">
           Added Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

    </dl>
</div>
<div>
                <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.CategoryId">Edit</a> |
    <a class="btn btn-warning" asp-action="Index">Back to List</a>
</div>
</div>
</div>
</div>
